<p>image-upload works!</p>

<input type="file" (change)="onFileSelected($event)" accept="*.png.jpg"/>

<button type="button" (click)="onUpload()">Upload</button>
<br><br>
<img [src]="url" height="200px">

<input type="file" (change)="onResize($event)" accept="*.png.jpg"/>

<input type="file" #coverFilesInput (change)="onChange($event)" class="file-input"  />
    Upload Percent: {{percentDone}}% <br />

    <ng-container *ngIf="uploadSuccess">
      Upload Successful of file with size : {{size}} bytes <br>
      The image height is : {{height}} <br>
      The image width is : {{width}} <br>
    </ng-container> 










<!-- Cropper-->
<br>
<br>
<hr>
<app-cropper></app-cropper>