Burada



<div class="container">
    <div class="row">
        <div class="col">
            <div class="form-group">
              <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                <div class="col-lg-6">
                    <label>ID</label>
                   
                    <input type="text" class="form-control"  name="id" [(ngModel)]="user.id"   >
                </div>
                <div class="col-lg-6">
                    <label>Name</label>
                    <input type="text"  name="name" [(ngModel)]="user.name" class="form-control" >
                </div>
                <div class="col-lg-6">
                    <label>Phone</label>
                    <input type="text"  name="phone" [(ngModel)]="user.phone"  class="form-control">
                </div>
                <div class="col-lg-6">
                  <button type="submit">Kaydet</button>
              </div>
                </form>
            </div>
        </div>
        <div class="col">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Name</th>
                    <th scope="col">Phone</th>
                    <th scope="col">Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of users" (click)="updateUser(item.id)">
                    <td>{{item.id}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.phone}}</td>
                    <td><button (click)="onDelete(item.id)" class="btn btn-danger">Delete</button></td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
</div>